<%include ./static/header.ejs %>
<%include ./static/sidebar.ejs%>
<%include ./static/navbar.ejs%>

<div class="col-md-6 col-lg-10-2">
    <!-- general form elements -->
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Procesos Clave</h3>
        </div>

    </div>
</div>
<div class="row">

   
</div>


<div class="col-md-12 col-lg-10-2">
    <!-- general form elements -->
    <div class="box box-primary">
        <a href="https://tristoneflowtech.surveysparrow.com/s/Check-list-de-Certificacin-para-Vulcanizado/tt-833cd4" target="_blank" > <button type="button" class="btn btn-primary btn-lg" >Vulcanizado</button></a>
        <a href="https://tristoneflowtech.surveysparrow.com/s/check-list-de-certificacin-para-prensa-crimping/tt-bbd6b8" target="_blank"> <button type="button" class="btn btn-primary btn-lg" >Prensa Crimping</button></a>
        <a href="https://tristoneflowtech.surveysparrow.com/s/Check-list-de-Certificacin-para-Prototipos/tt-2e065f" target="_blank"> <button type="button" class="btn btn-primary btn-lg" >Prototipos</button></a>
        <a href="https://tristoneflowtech.surveysparrow.com/s/Check-List-de-Certificacin-para-Extrusin-Inspector-de-Calidad/tt-e489a4" target="_blank"> <button type="button" class="btn btn-primary btn-lg" >Extrusion (Inspeccion de Calidad)</button></a>
        <a href="https://tristoneflowtech.surveysparrow.com/s/Check-List-de-Certificacin-para-Terminado-Inspeccin-Final-y-Dock-Audit-Inspector-de-Calidad/tt-b1c55a" target="_blank"> <button type="button" class="btn btn-primary btn-lg" >Terminado Inspeccion Final y Dock Audit(Insp. de Cal)</button></a>
        <a href="https://tristoneflowtech.surveysparrow.com/s/Check-List-de-Certificacin-Extrusion/tt-1879434f88" target="_blank"> <button type="button" class="btn btn-primary btn-lg" >Extrusion</button></a>
        <a href="https://tristoneflowtech.surveysparrow.com/s/Check-list-de-Certificacin-para-Prueba-de-Fuga/tt-bb9ca8" target="_blank"> <button type="button" class="btn btn-primary btn-lg" >Prueba de Fuga</button></a>
        <a href="https://tristoneflowtech.surveysparrow.com/s/Check-list-de-Certificacin-para-Colocacin-de-Vlvula/tt-dce186" target="_blank"> <button type="button" class="btn btn-primary btn-lg" >Colocacion de Valvula</button></a>
        <a href="https://tristoneflowtech.surveysparrow.com/s/Check-list-de-Certificacin-para-Estampado/tt-b264ee" target="_blank"> <button type="button" class="btn btn-primary btn-lg" >Estampado</button></a>
        <a href="https://tristoneflowtech.surveysparrow.com/s/Check-List-de-Certificacin-de-Inspeccin-despus-de-Lavado-/tt-0ded86f3ad" target="_blank"> <button type="button" class="btn btn-primary btn-lg" >Inspeccion despues de Vulcanizado</button></a>
        <a href="https://tristoneflowtech.surveysparrow.com/s/Check-List-de-Certificacin-Set-upAjuste-en-extrusin/tt-2b24cb" target="_blank"> <button type="button" class="btn btn-primary btn-lg" >Set Up/Ajuste en Extrusion</button></a>
        <a href="https://tristoneflowtech.surveysparrow.com/s/Check-list-de-Certificacin-para-Ensamble-de-ring-clamp/tt-757b658ac6" target="_blank"> <button type="button" class="btn btn-primary btn-lg" >Proceso de Ensamble de Ring Clamp</button></a>
        <a href="https://tristoneflowtech.surveysparrow.com/s/Check-list-de-Certificacin-para-Equipo-de-pegado-de-clamp-/tt-e03a77" target="_blank"> <button type="button" class="btn btn-primary btn-lg" >Pegado de Clamp</button></a>

    </div>
</div>


<!-- /.box -->

<!-- /.box ------------------------------------------------------>

